.main{
  font-family: [Hanken Grotesk];
  display: flex;
  flex-direction: row;
}
.container{
  justify-content: center;
  display: flex; 
  text-align: center;
  width:300px;
  height:450px;
  margin-left:450px;
  margin-top:130px;
 background-color: rgb(115, 0, 255); 
  border-radius: 25px;
}
.text-item{
  color: white;
  font-size: larger;
  margin-top: 40px;
}
.circle{
    border-radius: 50%;
    background-image: linear-gradient(180deg,rgb(79, 13, 186) 50%,  rgb(115, 0, 255) 95%);
    box-shadow: rgb(97, 30, 205);
    height: 150px;
    width: 150px;
    border: none;
    font-weight: bold;
    font-size: 55px;
    margin-left: 80px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.number{
  padding-top: 30px;
}
.text{
  text-align: center;
  font-size: 40px;
}
.inner-text{
  color: white;
  font-size: medium;
  font-weight: 100;
}
.content{
  text-align:center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 20px;
  font-size: medium;
}
.second-container{
  padding-left: 30px;
  padding-top: 40px;
  width:270px;
  height:380px;
  margin-top:150px;
  background-color: white;
  border-radius: 20px;
  font-weight: bold;
  font-size: 23px;
  box-shadow: 5px 10px 5px rgb(190, 190, 190);
}
.reaction{
  background-color:  rgb(248, 240, 240);
  color: hsl(0, 100%, 67%);
  margin-top: 30px;
  font-size:medium;
  padding: 10px;
  width:220px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.memory{
  background-color: rgb(248, 240, 222);
  color: hsl(39, 100%, 56%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  font-size:medium;
  padding: 10px;
  width:220px;
  border-radius: 10px;
}
.verbal{
  background-color: rgb(227, 244, 235);
  color:hsl(166, 100%, 37%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  font-size:medium;
  padding: 10px;
  width:220px;
  border-radius: 10px;
}
.visual{
  background-color: rgb(230, 229, 243);
  color:hsl(234, 85%, 45%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  font-size:medium;
  padding: 10px;
  width:220px;
  border-radius: 10px;
}
button{
margin-top: 30px;
width:240px;
height: 40px;
border-radius: 30px;
border: none;
background-color:rgb(45, 45, 77);
color: white;
font-size: medium;
}



